    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    ol, ul {
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* -------------------------------------- -------------------------------------------- */
    *{
        margin: 0px;
        padding: 0px;
        font-size: 16px;
        box-sizing: border-box;
    }
    h1, h2, h3, h4, h5, h6{
        font-family: 'Inter', sans-serif;}
        .bg-whithe{
            background-color: #fff;
        }
        body{
            background-color: #EFFDF5;
            padding: 0px 60px;
            font-family: 'Heebo', sans-serif;
            color: #2B3940;
    }
    .nav_container{
        height: 75px;
        position: static;
        display: flex;
    }
    
    .nav_container .nav_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        position: relative;
        width: 100%;
    }
    .nav_container .nav_wrapper .logo a h1{
        font-size: 2.5em;
        font-weight: 700;
        color: #00B074;
        padding-left: 1.2em;
        margin-top: 0.01em;
    }
    .nav_container .nav_wrapper .cl-2_nav{
        display: flex;
        align-items: center;
        gap: 1.9em;
    }
    .nav_container .nav_wrapper .cl-2_nav .nav_lists{
        display: flex;
        font-size: .8m;
        font-weight: 600;
        text-transform: uppercase;
    }
    .nav_container .nav_wrapper .cl-2_nav {
        z-index: 1;
    }
    .nav_container .nav_wrapper .cl-2_nav .nav_lists li a i{
        font-size: 0.8em;
    }
    .nav_container .nav_wrapper .cl-2_nav .nav_lists li a{
        color: #000 ;
        padding: 1.94em 0em 2em 2em ;
    }
    .nav_container .nav_wrapper .cl-2_nav .nav_lists li a:hover{
            color: #00B074;
    }
    .nav_container .nav_wrapper .cl-2_nav .nav_lists .subnav{
        position: relative;
    }
    .nav_container .nav_wrapper .cl-2_nav .nav_lists .job_list {
        display: none;
        flex-direction: column;
        justify-content: left;
        position: absolute;
        top: 160%;
        width: 200%;
        text-align: left;
        text-transform: capitalize;
        font-weight: 400;
    }
    .nav_container .nav_wrapper .cl-2_nav .nav_lists .job_list li{
        background: #fff;
        color: #000;
        padding: 0.5em 1em !important;

    }
    .nav_container .nav_wrapper .cl-2_nav .nav_lists .job_list li a{
        padding: 0 !important;
    }
    .nav_container .nav_wrapper .cl-2_nav .nav_lists .subnav:hover .job_list{
        display: block;
    }
    .nav_container .nav_wrapper .cl-2_nav .nav_lists .pages_list{
        display: none;
        flex-direction: column;
        justify-content: left;
        position: absolute;
        top: 160%;
        width: 200%;
        text-align: left;
        text-transform: capitalize;
        font-weight: 400;
    }
    .nav_container .nav_wrapper .cl-2_nav .nav_lists .pages_list li{
        background: #fff;
        color: #000;
        padding: 0.5em 1em !important;
    }
    .nav_container .nav_wrapper .cl-2_nav .nav_lists .pages_list li a{
        padding: 0 !important;

    }
    .nav_container .nav_wrapper .cl-2_nav .nav_lists .subnav:hover .pages_list{
        display: block;
    }
    .nav_container .nav_wrapper .cl-2_nav .post{
        padding: 1.7em 3.05em;
        font-size: 1em;
        font-weight: 700;
        background-color: #00B074;
        font-family: 'Inter', sans-serif;
        height: 75px;
    }
    .nav_container .nav_wrapper .cl-2_nav .post a{
        color: #fff;
    }
    .nav_container .nav_wrapper .cl-2_nav .post a i{
        margin-left: .75em;
    }
    /* -------------------------------------banner-------------------------------------------- */

     .banner_section .banner-img-container{
        display: flex;
        align-items: center;
        position: relative;
    }
     .banner_section .banner-img-container img{
        width: 100%;
        display: block;        
    }
     .banner_section .banner-img-container .txt-container{
        position: absolute;  
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(43, 57, 64, .5);
        display: flex;
        align-items: center;
         
    }
     .banner_section .banner-img-container .txt-container .txt-wrapper{
        border-left: 15px solid #00B074;
        
    }
    .banner_section .banner-img-container .txt-container .txt-wrapper::before{
        content: "";
        position: absolute;
        width: 100px;
        height: 15px;
        background: #00B074;

    }
     .banner_section .banner-img-container .txt-container .txt-wrapper::after{
        content: "";
        position: absolute;
        width: 100px;
        height: 15px;
        background: #00B074;
        margin-top: -15px;
    }
    .banner_section .banner-img-container .txt-container .txt-wrapper .txt-cont{
        width: 70%;
        padding: 45px 0 45px 35px;
    }
    .banner_section .banner-img-container .txt-container .txt-wrapper .txt-cont h1{
       font-size: 4em;
       font-weight: 700;
       color: #fff;
   }
   .banner_section .banner-img-container .txt-container .txt-wrapper .txt-cont p{
    margin-top: 2em;
    font-size: 1.2em;
    font-weight: 500;
    color: #fff;
   }
   .banner_section .banner-img-container .txt-container .txt-wrapper .txt-cont .btn{
       margin-top: 2em;
       margin-bottom: 1em;
    }
    .banner_section .banner-img-container .txt-container .txt-wrapper .txt-cont .btn a{
        padding: 0.8em 2.5em;
        margin-right: 1em;
        color: #fff;
        background-color: #00B074;
        border: 1px solid #00B074;
        font-size: 1.1em;
        font-weight: 600;
    }
    .banner_section .banner-img-container .txt-container .txt-wrapper .txt-cont .btn a:hover{
        background-color: #26bc89;
        border-color: #00B074;
    }
    .banner_section .banner-img-container .txt-container .txt-wrapper .txt-cont .btn .btn-hor{
        background-color: #2B9BFF;
        border: 1px solid #2B9BFF;
    }
    .banner_section .banner-img-container .txt-container .txt-wrapper .txt-cont .btn .btn-hor:hover{
        background-color: #4baaff;
        border: 1px solid #2B9BFF;
    }
    /* ---------------------------------search------------------------ */
.search{
    padding: 35px;
    background-color: #00B074;
}
.search .search-wrp .cl-4 ul{
    display: flex;
    gap: 0.5em;
    margin: 0 10px;
} 
.search .search-wrp .cl-4 ul li{
    flex: 1;
}
.search .search-wrp .cl-4 ul li .sr-cl-4{
    font-size: 1em;
    width: 100%;
    height: 36px;
    border-radius: 2px;
    border: 1px solid #fff ;
    padding: 5px 10px;
    background-color: #fff;
    color: #666565;
}
.search .search-wrp .cl-4 li button{
    width: 100%; 
    height: 36px;      
    color: #fff ;
    border: 1px solid #253036;
    border-radius: 2px;
    background-color: #253036;
    cursor: pointer;
}
/* --------------------------------Explore------------------------------------ */
.explore .explore-con{
    background-color: #fff;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}
.explore .explore-con .heading h1{
    font-size: 2.5em;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1.5em;
}
.explore .explore-con .explore-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.1em;
    padding: 0 20px;
}
.explore .explore-con .explore-wrap .explore-card{
    max-width: 18.75em;
    min-width: 18.75em;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1.5rem;
    cursor: pointer;
    border-radius: 2px;
}
.explore .explore-con .explore-wrap .explore-card i{
    font-size: 3em;
    color: #00B074;
    margin-bottom: 0.5em;
}
.explore .explore-con .explore-wrap .explore-card h5{
    font-weight: 700;
    margin-bottom: 0.9em;
}
.explore .explore-con .explore-wrap .explore-card p{
    color: #00B074;
}
.explore .explore-con .explore-wrap .explore-card:hover{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 2px;
}
/* -------------------------Talent------------------------------------------- */
.talent{
    padding-top: 4em;
    background-color: #fff;
}
.talent .talent-container{
    display: flex;
    align-items: center;
}
.talent .talent-container .img-container{
    width: 100%;
    padding: 0 1.25em;
}
.talent .talent-container .img-container .img-wrapper{
    display: flex;
    flex: 1;
}
.talent .talent-container .img-container .img-wrapper .img-1{
    flex: 1;
}
.talent .talent-container .img-container .img-wrapper .img-1 img{
    width: 100%;
    height: 100%;
}
.talent .talent-container .img-container .img-wrapper .img-2{
    width: 100%;
    flex: 1;
    background-color: #eeeeee8c;
}
.talent .talent-container .img-container .img-wrapper .img-2 img{
    width: 85%;
    height: 100%;
    margin-top: 15%;
}
.talent .talent-container .img-container .img-wrapper .img-3{
    flex: 1;
    background-color: #eeeeee8c;
}
.talent .talent-container .img-container .img-wrapper .img-3 img{
    width: 85%;
    height: 100%;
    margin-left: 15%;
}
.talent .talent-container .text-container{
    padding: 0 1.25em;
}
.talent .talent-container .text-container .text-wrapper h6{
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0.6em;
}
.talent .talent-container .text-container .text-wrapper p{
    line-height: 1.75em;
    font-size: 1.05em;
    font-weight: 400;
    margin-bottom: 1em;
}
.talent .talent-container .text-container .text-wrapper ul li {
    margin-bottom: 1em;
}
.talent .talent-container .text-container .text-wrapper ul li i{
    margin-right: 0.5em;
    color: #00B074;
}
.talent .talent-container .text-container .text-wrapper .btn-read{
    margin-top: 2em;
    /* padding: 1em 3em; */
}
.talent .talent-container .text-container .text-wrapper a{
    padding: 1em 3em;
    font-size: 1em;
    font-weight: 700;
    background-color: #00B074;
    color: #fff;
    display: inline-block;
}
.talent .talent-container .text-container .text-wrapper a:hover{
    background-color: #26bc89;
}
/* ---------------------job  Listing----------------- */
.job-section{
    padding-top: 5em;
    background-color: #fff;
}
.job-section .heading h1{
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1em ;
}
.job-section .type-job ul{
    display: flex;
    justify-content: center;
    gap:1.5em; 
}
.job-section .type-job ul a{
    font-size: 1.25em;
    font-weight: 500;
    color: #2B3940;    
}
.job-section .type-job ul a:hover{
border-bottom: 1px solid #00B074;
}
.job-cl-5-cont .job-cl-5-wrapper .job-card{
    margin: 1.5em;
    padding: 1.5em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: .1em;
}
.job-cl-5-cont .job-cl-5-wrapper .job-card:hover{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.job-cl-5-cont .job-cl-5-wrapper .job-card .job-apply .job-post-img{
    display: flex;
    gap: 1.5em;
}
.job-cl-5-cont .job-cl-5-wrapper .job-card .job-apply .job-post-img .job-img{
    max-width: 80px;
    max-height: 80px;
    border: 1px solid #dee2e6;
}
.job-cl-5-cont .job-cl-5-wrapper .job-card .job-apply .job-post-img .job-img img{
    width: 100%;
    height: 100%;
}
.job-cl-5-cont .job-cl-5-wrapper .job-card .job-apply .job-post-img .job-post{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-evenly;
}
.job-cl-5-cont .job-cl-5-wrapper .job-card .job-apply .job-post-img .job-post h5{
    font-size: 1.2em;
    font-weight: 700;
}
.job-cl-5-cont .job-cl-5-wrapper .job-card .job-apply .job-post-img .job-post ul {
    display: flex;
    gap: 1em;
    color: rgb(102, 101, 101);
}
.job-cl-5-cont .job-cl-5-wrapper .job-card .job-apply .job-post-img .job-post ul i {
    color: #00B074;
    margin-right: 0.5em;
}
.job-cl-5-cont .job-cl-5-wrapper .job-card .job-apply{
    display: flex;
    justify-content: space-between;
}
.job-cl-5-cont .job-cl-5-wrapper .job-card .job-apply .apply .btn{
    display: flex;
    margin-bottom: 1em;
    justify-content: end;
}
.job-cl-5-cont .job-cl-5-wrapper .job-card .job-apply .apply .btn i{
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00B074;
    background-color: #effdf5;
    margin-right: 0.9em;
}
.job-cl-5-cont .job-cl-5-wrapper .job-card .job-apply .apply .btn a{
    background-color: #00B074;
    text-align: center;
    padding: 0.4em 1em;
    font-weight: 700;
    color: #fff;
    border-radius: 2px ;
}
.job-cl-5-cont .job-cl-5-wrapper .job-card .job-apply .date{
    color: #666565;
    font-weight: 300;
}
.job-cl-5-cont .job-cl-5-wrapper .job-card .job-apply .date i{
    color: #00B074;
    margin-right: 0.5em;
}
.job-section .browse-btn{
    text-align: center;
    margin-top: 2em;
}
.job-section .browse-btn a{
    padding: 0.9em 3em;
    color: #fff;
    font-weight: 600;
    background-color: #00B074;
    margin-bottom: 1em;
}
/* -----------------------client--------------------------------------------- */
.client{
    padding-top: 6em;
    padding-bottom: 5em;
    background-color: #fff;
}
.client .heading-Client{
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    padding-bottom: 1em;
}
.client .client-detail{
    margin: auto;
    max-width: 408px;
    min-width: 408px;
    background-color: #00B074;
    padding: 24px;
}
.client .client-detail i{
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 0.2em;
}
.client .client-detail p{
    color: #fff;
    margin-bottom: 1em;
}
.client .client-detail .client-cl-2{
    display: flex;
}
.client .client-detail .client-cl-2 .img-client{
    width: 50px;
    margin-right: 1em;
}
.client .client-detail .client-cl-2 .img-client img{
    width: 100%;
}
.client .client-detail .client-cl-2 .client-name h6{
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: .2em;
}
.client .client-detail .client-cl-2 .client-name p{
    margin: 0 !important;
}
/* --------------------footer--------------------- */
footer .footer-container{
    padding: 3rem .75rem 0 .75rem;
    background-color: #2B3940 ;
    color: #fff;
}
footer .footer-container .cl-4-footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 4em;
}
footer .footer-container .cl-4-footer .company h5{
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1.5em;
}
footer .footer-container .cl-4-footer .company ul li a{
    margin-bottom: 0.5em;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
}
footer .footer-container .cl-4-footer .company ul li a:hover{
    letter-spacing: .1em;
}
footer .footer-container .cl-4-footer .company ul li a i{
    padding-right: 0.6em;
    font-size: 0.7em;
}
footer .footer-container .cl-4-footer .contact h5{
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1.5em;
}
footer .footer-container .cl-4-footer .contact ul li {
    margin-bottom: 0.5em;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
}
footer .footer-container .cl-4-footer .contact ul li i{
    padding-right: 0.6em;
}
footer .footer-container .cl-4-footer .icon ul{
    display: flex;
    margin-top: 1.5em;
}
footer .footer-container .cl-4-footer .icon ul li{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: transparent;   
    color: #fff;
}
footer .footer-container .cl-4-footer .icon ul li:hover{
    color: #00B074;
    background-color: #fff;
}
footer .footer-container .cl-4-footer .icon ul li i{
    padding: 0%;
}
footer .footer-container .cl-4-footer .letter h5{
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1.5em;
}
footer .footer-container .cl-4-footer .letter p{
    width: 280px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1em;
}
footer .footer-container .cl-4-footer .letter-btn{
    position: relative;
}
footer .footer-container .cl-4-footer .letter input{
    width: 100%;
    padding: 15px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
footer .footer-container .cl-4-footer .letter a{
    font-size: 1.1em;
    color: #fff;
    font-weight: 400;
    padding: 0.4em;
    background-color: #00B074;
    position: absolute;
    top: 5px;
    right: 4px;
}
footer .footer-container .copyright {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #666565;
    padding: 1.8em 0;
}
footer .footer-container .copyright P{
    color: rgba(255, 255, 255, 0.5);
}
footer .footer-container .copyright a{
    color: #fff;
    border-bottom: 1PX solid #dee2e6;
}
footer .footer-container .copyright ul{
    display: flex;
}
footer .footer-container .copyright ul a{
    padding-right: 1em;
    margin-right: 1em;
    border-right:1px solid #666565;
    border-bottom: none;
}



   
